<section class="card text-center mt-3 mb-3">
  <header class="font-weight-bold"><div class="float-left">{{title}}</div><div
      class="float-right"
      style="font-size: 10px"
    >posted on:
      {{postdate}}
      by you</div></header>
  <div>{{body}}</div>
</section>