<div class="form text-center">
  <h2 class="text-center">New Post</h2>
  <label for="new-post-title">Title</label>
  <input type="text" id="new-post-title" />
  <br />
  <label for="new-post-body">Content</label>
  <input type="text" id="new-post-body" />
  <br />
  <button id="submit-new-post-button">Submit</button>
</div>

<script src="./js/newpost.js"></script>