#title{
  font-size: 5vw;
  text-align: center;
  color: white
}

body{
  background-color: grey;
}

.login-card {

  padding-top: 20px;
  width: 40%;
}

.login-form-btn {
  background-color:rgb(59, 176, 199);
  color:white;
}

.signup-form-btn {
  background-color:rgb(237, 152, 67);
  color:white;
}

.login-cb-name {
  color:rgb(59, 176, 199);

}

.page-title-login {
  text-align:center;
}

.login-cb-name:hover {
  text-decoration: none;
  color:rgb(237, 152, 67);
}

label{
  color: white;
}

.page-title{
  color: white;
}

h2{
  color: white;
}

a{
  text-decoration: none;
}
